%form.navbar-form.navbar-left{"role" => "search"}
  .form-group
    = text_field_tag :query, params[:query], class: "form-control", placeholder: "Search"
  = submit_tag "Search", class: "btn btn-default"
